.poll {
	font:			Helvetica, Arial, sans-serif;
	font-weight:	300;
	border:			1px solid #DDD;
	width:			250px;
	padding:		5px;
	-moz-border-radius:	5px; 
	border-radius:	5px;
	background:		#FEFEFE;
	margin:			1em 0;
	padding:		1em;	
	box-shadow:		0 1px 8px	rgba(0, 0, 0, 0.3),
					0 0 4px 	rgba(0, 0, 0, 0.1) inset;
}
	.poll label,
	.poll input,
	.poll button {
		cursor:			pointer;
	}
	.poll ul,.poll li{
		list-style:		none;
		margin:			0;
		padding:		0;
	}
	.poll li{
		clear:			both;
		display:		block;
		margin:			1em 0;
	}
	.poll ul input{
		float:			left;
		margin:			0.5em 1em 0 0;
	}
	.poll ul label{
		display:		inline-block;
		width:			210px;
	}
	
	.poll dl {
		line-height:	1.5em;	
		margin:			0.5em 0;
		font-size:		0.9em;
	}
	.poll dt {
		font-weight:	300;	
		margin:			1em 0 0 ;
	}
	.poll dd {
		margin:			0 0 0.5em;
		border-top:		2px solid #C09;
		display:		block;
	}
	
	.poll p {
		margin:			0;
		text-align:		center;
	}
	
	.poll .question {
		font-weight:	700;
		font-size:		1.1em;
		margin:			0 0 3px;
		border-bottom:	1px solid #DDD;
		text-align:		left;
	}
	
	.poll button {
		cursor:			pointer;	
		font-size:		16px;
		color:			#333;
		width:			100%;
		border:			1px solid #FEFEFE;	
		background:		#EFEFEF;
	-moz-border-radius:	5px; 
		border-radius:	5px;
		box-shadow:		0 0 3px	rgba(0, 0, 0, 0.3)
	}
	.poll button:hover{
		background:		#DDD;
		box-shadow:		0 0 5px	rgba(0, 0, 0, 0.3)
	}
	.poll button:active{
		background:		#EFEFEF;
		box-shadow:		0 0 5px	rgba(0, 0, 0, 0.3) inset;
	}
